ion-content {
    --background: #f5b7a3;
    --ion-color-primary: #f7c65e; /* Dourado */
  }
  
  ion-img {
    max-width: 200px;
    display: block;
    margin: 0 auto;
  }
  
  #image{
    padding: 3rem 0 1.25rem 0;
  }
  
  .login-label{
    padding: 1rem 2rem 0 1rem;
    margin: 1rem;
    width: 70%;
  }
  
  .login-label2{
    padding: 1rem 2rem 0 1rem;
  margin: 1rem;
  width: 70%;
  }
  
.login-label3{
  padding: 1rem 2rem 0 1rem;
  margin: 1rem;
  width: 70%;
  }
   
  ion-button{
    font-size: 1em;
    padding: 0.25rem
  }