<ion-content class="ion-padding">
  <ion-img id="image" src="/assets/datas.png"></ion-img>


  <div>
    <ion-label position="floating">Email</ion-label>
    <ion-input id="emailIn" class="login-label" type="email" required></ion-input>

    <ion-label position="floating">Senha</ion-label>
    <ion-input id="passIn" class="login-label2" type="password" required></ion-input>

    <ion-label position="floating">Repita a senha</ion-label>
    <ion-input id="confirmPassIn" class="login-label3" type="password" required></ion-input>
  </div>

  <ion-button expand="block" color="primary" (click)="onSubmit()" routerLink="/login">Cadastrar-se</ion-button>

  <ion-button expand="block" color="light" routerLink="/login">Estou pronto!</ion-button>
</ion-content>