ion-grid {
  --ion-grid-columns: 2
}

.center-title {
  display: flex;
  justify-content: center;
}

.center-title h2 {
  text-align: center;
  margin-top: 8px;
}


.sort-layout {
  display: inline-block;
  margin: 5px;
  text-align: center;
  align-content: flex-end;
}

.sort-item {
  width: 43px;
  font-weight: bold;
  font-size: 20px;
  background-color: #ff5a5f;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
}

.button-row {
  justify-content: center;
}
