ion-grid {
  --ion-grid-columns: 2;
}

.center-title {
  display: flex;
  justify-content: center;
}

.array-layout {
  display: inline-block;
  margin: 5px;
  text-align: center;
}

.array-item {
  width: 43px;
  background-color: #ff5a5f;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
}

.array-index {
  font-size: 12px;
  margin-top: 5px;
}

.button-row {
  justify-content: center;
}
