<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Teste
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title> What data structures are? </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button routerLink="/data-structures"> Access Content </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title> Arrays </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button routerLink="/arrays"> Access Content </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title> Singly Linked Lists </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button routerLink="/singly-linked-lists"> Access Content </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title> Stacks </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button routerLink="/stacks"> Access Content </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title> Queues </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button routerLink="/queues"> Access Content </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title> Insertion Sort </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button routerLink="/insertion-sort"> Access Content </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title> Bubble Sort </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button routerLink="/bubble-sort"> Access Content </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
